/* Write your CSS here */

.login-btn{
    font-family: "Roboto";
    font-size:14px;
    padding:15px;
    background-color: #f8fafc;
    color:#303150;
    border:0px solid #f8fafc;
    border-radius:10px;
}
